.idea/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/likelion-k-digital-training-AI.iml
.idea/inspectionProfiles/profiles_settings.xml
.DS_Store
/Data-Structure-and-Algorithm/.ipynb_checkpoints/
/Python-and-Data-Visualization/.ipynb_checkpoints/
/Python-and-Data-Visualization/practice/.ipynb_checkpoints/
/Artificial-Intelligence/.ipynb_checkpoints/
/Artificial-Intelligence/Code/.ipynb_checkpoints/
/Artificial-Intelligence/data_nn/flowers/
/venv/